@import url("styles/header.css");

:root{
    --cor-de-fundo: #f5e6e6;
    --branco: #ffff;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --amarelo: #f0f0f0;
    --roxo: #f708ff;
}
body{
    background-color: var(--cor-de-fundo);
}
h1{
    background-color: rgb(243, 235, 235);
}
