.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24;
    background-image: url("../img/menu.svg");
}

.cabeçalho {
    background-color: var(--branco);
}
.container{
    display: flex;
    align-items: center;
}